body{
  margin: 0%;
  font-family: Inter, San-Serif;
}

header{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.globe-marker{
  width: 80px;
  margin-right: 7px;
  
}

.navbar-h1{
  font-size: 2rem;

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
