body{
  margin: 0%;
  font-family: Inter, San-Serif;
}

header{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container{
  margin: 45px 40px;
}

.globe-marker{
  width: 80px;
  margin-right: 7px;
  
}

.navbar-h1{
  font-size: 2rem;
}

article.main-article{
  display: flex;
  margin-bottom: 50px;
}

article.main-article .main-img-container{
  width: 180px;
  height: 200px;
  margin-right: 25px;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

article.main-article .main-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container .marker{
  width: 15px;
  margin-right: 4px;
}

.info-container span.entry-country{
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container .entry-title{
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container .entry-text{
  font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
